* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: ;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background-color: #262626;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}